# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
format.aux
format.bbl
format.blg
format.dvi
format.html
format.log
format.txt
/export-html/index.html
/export-html/masuhara.bib
/export-html/masuhara.html
/export-html/masuhara_bib.html
/export-html/publications.rake
/export-html/index-j.html
/export-html/masuhara-j.bib
/export-html/masuhara-j.html
/export-html/masuhara-j_bib.html
/export-html/Rakefile
